[Unit]
Description=Wifi connect service
After=config-manager.service NetworkManager.service
ConditionPathExists=/etc/cfg.json

[Service]
ExecStart=python3 /etc/wifi-manager
Restart=always

[Install]
WantedBy=multi-user.target
