[Unit]
Description=Barcode Scan Service
After=config-manager.service usb-gadget-msc.service

[Service]
ExecStartPre=/bin/bash -c 'while [ ! -f /etc/wifi_connected ]; do sleep 1; done'
ExecStart=/usr/bin/python3 /etc/usb-manager
WorkingDirectory=/data
Restart=always

[Install]
WantedBy=multi-user.target
