[Unit]
Description=Usb Mass Storage Service

[Service]
Type=oneshot
ExecStart=python3 /etc/usb-gadget-msc
Restart=on-failure

[Install]
WantedBy=multi-user.target